* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:
    linear-gradient(#918f91 0%,
        #9f9e9e 30%,
        #c2c1c1 60%,
        #919092 100%) padding-box,
    linear-gradient(
      135deg,
      rgba(59, 130, 246, 0.00) 0%,
      transparent 90px,
      transparent 90%,
      rgba(59, 130, 246, 0.02) 10%
    ) border-box;
  color: #e8e8e8;
  font-family: 'Courier New', monospace;
 
}

html {
  scroll-behavior: smooth;
}